.item {
    background-color: yellow;
    border: 1px black solid;
    color: white;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    line-height: 80px;
    width: 80px;
    height: 80px;
}

.container {
    display: flex;
    background-color: white;
    border: 1px black solid;
    user-select: none;
    margin: auto;
    max-width: 400px;
}

.container-larger {
    height: 150px;
}

.container-very-larger {
    height: 320px;
}

.container-wrap {
    flex-wrap: wrap;
}

.item-auto-height {
    height: auto;
}

.item-larger {
    line-height: 120px;
    font-size: 60px;
}