.item {
    background-color: yellow;
    border: 1px black solid;
    color: white;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    line-height: 100px;
    width: 100px;
    height: 100px;
}

.container {
    display: flex;
    background-color: white;
    border: 1px black solid;
    user-select: none;
}