#layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    flex: auto;
}

#article {
    max-width: 960px;
    margin: 0 auto;
}

#property-list {
    width: 320px
}