#layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    flex: auto;
}

#article {
    margin: 0 12em;
}

#property-list {
    flex: 0 0 20em;
}