#layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@media print{
    #header{
        display: none;
    }
}

#header {
    flex: none;
}

#main {
    flex: auto;
    height: 0;
    display: flex;
}

#article {
    flex: auto;
    padding: 0 3em;
    overflow: hidden auto;
}