.link {
    text-decoration-thickness: 1px;
    text-decoration-color: black;
}

.link[href] {
    color: dodgerblue;
}

.link[href]:focus, .link[href]:hover {
    color: cyan;
    background: gray;
    text-decoration-thickness: 2px;
}

.link[href]:active {
    color: peachpuff;
}