.link {
    --a-normal-text: dodgerblue;
    --a-normal-underline: black;
    --a-visited-text: var(--a-normal-text);
    --a-visited-underline: var(--a-normal-underline);
    --a-hover-text: cyan;
    --a-hover-underline: var(--a-normal-underline);
    --a-hover-bg: gray;
    --a-active-text: peachpuff;
    --a-active-underline: peachpuff;
    text-decoration: none;
}

.link[href] {
    color: var(--a-normal-text);
    border-bottom: 1px solid var(--a-normal-underline);
}

.link:visited {
    color: var(--a-visited-text);
    border-bottom-color: var(--a-visited-underline);
}

.link[href]:focus, .link[href]:hover {
    color: var(--a-hover-text);
    border-bottom-color: var(--a-hover-underline);
    background: var(--a-hover-bg);
    border-bottom-width: 3px;
}

.link[href]:active {
    color: var(--a-active-text);
    border-color: var(--a-active-underline);
}