@media screen and (max-width:480px), print {
    #nav {
        display: none
    }
    #nav.show {
        display: initial;
        flex: 0 0 100vw;
    }
}

#nav {
    flex: 0 0 9em;
    overflow: hidden auto;
}

#navBtn {
    display: none;
    position: fixed;
    left: 0px;
    bottom: 0px;
    border: none;
    border-top-right-radius: 999px;
    outline: none;
}

@media screen and (max-width:480px) {
    #navBtn {
        display: initial;
    }
}

.ul {
    list-style-type: none;
    padding-left: 1em;
}

.link.current {
    font-weight: bold;
}

.link {
    line-height: 1.5em;
    text-decoration: none;
}

.link[href] {
    color: dodgerblue;
}

.link[href]:focus, .link[href]:hover {
    color: cyan;
    background: gray;
}

.link[href]:active {
    color: peachpuff;
}