@media screen and (max-width:480px), print {
    #nav {
        display: none
    }
}

#nav {
    flex: 0 0 9em;
    overflow: hidden auto;
}

.ul {
    list-style-type: none;
    padding-left: 1em;
}

.link.current {
    font-weight: bold;
}

.link {
    line-height: 1.5em;
    text-decoration: none;
}

.link[href] {
    color: dodgerblue;
}

.link[href]:focus, .link[href]:hover {
    color: cyan;
    background: gray;
}

.link[href]:active {
    color: peachpuff;
}